/* Elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* display: flex; */
    justify-content: center;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: left;
    text-decoration: underline;
    color: rgb(133, 133, 133);
}

/* Class */

.main {
    text-align: left;
    margin: 0;
    word-wrap: break-word;
    white-space: normal;
}

.main tr {
    border: none;
}
 .main th {
    border: none;
 }
 .main td {
        border: none;
}

.banner {
    background-color: black;
    width: 10vw;
}

.r1 {
    background-color: black;
    border-color: black;
}

.nav {
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
}

.nav a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.navBar td {
    background-color: rgb(196, 4, 4);
}

.introduction {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.introduction h1 {
    padding: 0 0 20px 0;
}

.sx4Models {
    width: 90%;
}

.introduction figcaption a {
    color: rgb(133, 133, 133);
}

.pageTitle {
    text-align: center;
}

.features h2 {
    padding: 20px 0 20px 0;
}

.features th {
    padding: 40px auto 40px auto;
}

.specs{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.specs h2 {
    padding: 20px 0 20px 0;
}

.specTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.specTable th {
    border: 1px solid black;
    padding: 4px;
    background-color:  rgb(99, 99, 99);
    text-align: center;
}

.specTable tr {
    border: 1px solid black;
    padding: 2px;
}

.specTable tr:nth-child(even) {
    background-color: rgb(199, 199, 199);
}

.specTable td {
    border: 1px solid black;
    padding: 2px;
}

.specTable tr td {
    text-align: center;
}

.specTable tr td:first-child {
    text-align: left;
}

.location h2 {
  padding: 40px 0 40px 0;
}

.map {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0 40px 0;
}

.map img {
    border-radius: 40px;
}

.findDealer h2 {
    padding: 40px 0 0 20px;
}

.dealers th {
    padding: 4px;
}

.dealers tr {
    padding: 4px;
}

.dealers tr td:first-child {
    text-align: center;
}

.dealers td {
    padding: 4px;
}

.visitWeb a {
    color: rgb(163, 0, 0);
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
}

.visitWeb a :hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.footer th {
    padding-top: 40px;
    text-align: center;
}

/* ID */

#sx4 {
    width: 60%;
}